header > img {
    width: 6rem;
    float: left; 
}

header > h1 {
    font-size: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Increase the width of the input fields*/
fieldset > input {
    width: 50%;
}

/* Make the fieldset container visually distinct from other page elements */
fieldset {
    background-color: lightgray;
    border-style: solid;
    border-color: #00258a;
    padding: 3%;
    border-radius: 1.5em;
    margin-bottom: 5%;
}

/* Place fieldset elements vertically */
fieldset * {
    display: block;
    text-align: left;
}

/* Center fieldset headers */
fieldset > h3 {
    text-align: center;
}

/* Give vertical space between fieldsets */
fieldset > label {
    margin-top: 1em;
}

/* Enlarge fieldset title */
fieldset > legend {
    font-size: 150%;
    font-weight: 400;
}

/* Center buttions below the textarea */
#button-group {
    margin: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Customize button appearance */
#button-group > button {
    font-size: 1.5rem;
    border-radius: 1em;
    border-color: #00258a;
}

/* Enlarge and change button color when hovered */
#button-group button:hover {
    background-color: grey;
}

#errorMessage {
    color: red;
}

/* Video Panel */

#videoPanel {
    display: flex;
    visibility: hidden;
    flex-direction: row;
}

#videoPanel video {
    width: 35em;
    height: 20em;
}

/* Chat Box */

button img {
    max-width: 4em;
    height: 4em;
}

#chatBox {
    border: 0.2em black solid;
    width: 25em;
    height: 50em;
}

/* The grids dont work for some reason, any help would be appreciated */
#chatarea {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#chatbox {
    grid-column: 1/3;
    grid-row: 1/9;
}

#sendFile {
    grid-column: 1/2;
    grid-row: 9/10;
}

#sendImage {
    grid-column: 2/3;
    grid-row: 9/10;
}

#sendFile {
    grid-column: 4/4;
    grid-row: 9/10;
}
